/node_modules
/public/hot
/public/storage
/public/images/books
/public/images/articles
/public/images/pictures
/public/images/services
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
