@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: "Pacifico", cursive;
    color: #8c1c13;
    margin: 0;
}

p {
    font-family: "Roboto", sans-serif;
}

section {
    margin: 0;
    padding: 0;
}

button:focus{
    outline: none;
}

.btn {
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  margin: 2px;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-add{
    background-color: #80cce7;
}

.btn-save{
    background-color: #e7e780;
    color: #000;
}

.btn-back{
    background-color: #e7b280;
}

.btn-delete{
    background-color: #e78080;
}

.btn-update{
    background-color: #e7cf80;
}

.card {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: max-content;
    margin: 25px;
    padding: 15px;
}

.input-text{
    background: none;
    border: none;
    border-bottom: 1px solid rgb(102, 102, 101);
}

header {
    display: flex;
    justify-content: space-between;
}

header .logo img {
    position: absolute;
    padding-top: 1%;
    padding-left: 2%;
    width: 5%;
}

.links {
    width: 50%;
}

.links ul {
    display: flex;
    justify-content: flex-end;
}

.links ul .link {
    list-style-type: none;
    padding-right: 5%;
    color: #8c1c13;
    font-family: "Roboto", sans-serif;
}

.links ul .active {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Présentation Entreprise */
.presentation {
    display: flex;
    align-items: center;
}

.presentation .img {
    width: 40%;
    height: 400px;
    background-image: linear-gradient(to right, rgba(245, 246, 252, 0), #e7d7c1),
        url("../images/image.png");

    background-size: cover;
    background-position: bottom;
}

.presentation .chezgaelle {
    width: 60%;
    right: 0;
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentation .chezgaelle p,
.chezgaelle h2 {
    width: 60%;
    text-align: center;
}

.presentation .chezgaelle h2 {
    font-size: 36px;
}

/* Homepage photos*/

.photos {
    background-color: #735751;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.galerie h2 {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 2%;
}

.galerie .lastPictures, .pictures {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.picture {
    width: 30%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.picture img {
    width: 100%;
    margin: auto;
    border-radius: 5px;
}

.galerie .lastPictures .picture legend {
    color: white;
    font-family: "Roboto", sans-serif;
}

.photos button {
    background-color: white;
    font-family: "Roboto", sans-serif;
    color: #8c1c13;
    font-weight: bold;
    border: none;
    height: 45px;
    width: 10%;
    margin-bottom: 25px;
    border-radius: 5px;
}

.galerie button a {
    text-decoration: none;
    color: inherit;
}

/* Galerie photos */

.brown-bg {
    background-color: #e7d7c1;
}

.pictures {
    padding: 50px;
}

.pictures .picture {
    background-color: white;
    padding: 0;
    margin-bottom: 50px;
}

.pictures .picture p {
    margin: 0;
    padding: 5px;
}

.pictures .picture div {
    padding: 10px;
}

p {
    margin: 0;
}

/* Homepage articles */

.articles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articles h2 {
    color: #8c1c13;
    font-size: 30px;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.galerie .lastArticles {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.galerie .lastArticles .article {
    width: 30%;
    background-color: white;
}

.galerie .lastArticles .article img {
    width: 100%;
    margin-bottom: 0;
}

.galerie .lastArticles .article .infos {
    margin: 0;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.galerie .lastArticles .article .infos .details {
    padding: 10px;
}

.galerie .lastArticles .article .infos .details h3,
.galerie .lastArticles .article .infos .details p {
    margin: 5px;
}

.galerie .lastArticles .article .infos .fa-link {
    color: #8c1c13;
}

p.link {
    padding: 10px;
}

.articles button {
    background-color: #8c1c13;
    font-family: "Roboto", sans-serif;
    color: white;
    font-weight: bold;
    border: none;
    height: 45px;
    width: 10%;
    margin-bottom: 25px;
    margin-top: 2%;
    border-radius: 5px;
}

.galerie button:focus {
    outline: none;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}

footer .hours {
    display: flex;
    align-items: center;
}

footer .hours h1 {
    font-family: "Pacifico", cursive;
    color: #8c1c13;
    margin: 0;
}

footer .coordonees {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .social {
    padding-top: 30px;
}

footer .coordonees p {
    margin: 0;
    padding: 10px;
}

footer .fas, footer .fab {
    color: #8c1c13;
    padding-right: 10px;
}

i.fa-facebook {
    color: #1877F2;
}

.hourByDay p {
    margin: 0;
    width: max-content;
}

.hourByDay {
    padding: 35px;
}

/* Gallery */

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery .picture {
    display: flex;
    flex-direction: column;
    padding: 1%;
    align-items: center;
}

.gallery .picture button {
    margin-left: auto;
    margin-right: auto;
}

.gallery .picture img, .lastArticles .article img {
    width: 200px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: 50% 50%;
}

/* Gestion utilisateurs */

.justify-evenly .py-12 {
    width: -webkit-fill-available;
}

/* BO list */
.img-list {
    width: 150px;
    height: fit-content;
}

.img-list-article{
    width: 150px;
}

.details-list p, .text-xs {
    padding-bottom: 10px;
}

/* Show Article */

div .show-details p:last-child, div .show-details {
    padding-top: 20px;
}

img.m-auto {
    height: auto;
    width: 350px;
}

.m-auto {
    margin: auto;
}

.py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.max-w-7xl {
    max-width: 80rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.p-6 {
    padding: 1.5rem;
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.border-b {
    border-bottom-width: 1px;
}

.border-gray-200 {
    --tw-border-opacity: 1;
    border-color: rgba(229, 231, 235, var(--tw-border-opacity));
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.overflow-hidden {
    overflow: hidden;
}

.shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}

/* Articles gallery */

.articles-gallery {
    padding: 50px;
}

.articles-position {
    margin-bottom: 50px;
}

/* //////////////Admin gallery /////////////////// */
.add_elem{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-top: 20px;
}

.add_element{
    width: fit-content;
}

.pictures {
    display: flex;
}

/* ************************DASHBOARD ********************* */
.canvas-div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
} 

canvas {
    width: 80% !important;
    height: auto !important;
    margin: 5%;
}

.change-values{
    display: flex;
    justify-content: space-evenly;
}

.description-admin, .description{
    width: 100%;
}

.description-admin, .horaires-admin{
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: max-content;
}

.description-admin label, .horaires-admin label{
    font-size: large;
}

.description-admin .save-button:hover, .horaires-admin .save-button:hover{
    background-color: #F59E0B;
    color: white;
}
.description-admin .save-button, .horaires-admin .save-button{
    font-size: large;
    border: 1px solid #F59E0B;
    color: #F59E0B;
    font-weight: bold;
    outline: none;
    width: fit-content;
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
}

.horaires-admin .per-day{
    margin: 2px;
}


/* ************************DASHBOARD - SERVICES ********************* */
.services .infos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services .infos .logo{
    width: auto;
    height: 150px;
}

.services .buttons {
    display: flex;
    justify-content: center;
}

.service{
    display: flex;
    flex-direction: column;
}

/* ************************Responsive CRUD ********************* */
.container {
    display: flex;
    justify-content: center;
    max-width: 100%;
}
.column-card {
    flex-direction: column;
}

.center-card{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.little-card {
    width: 30%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.product-card {
    width: fit-content;
}

.products-block {
    margin: auto;
}

/* //////////////Partie Books////////////////// */
.books-creation {
    display: flex;
    justify-content: center;
    width: 35%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    
}

.books-creation .form-data{
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
}

.books-creation .form-data form{
    width: 100%;
}

.books-creation .form-data .bloc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.bloc-image{
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.books-creation .form-data .bloc input{
    background: none;
    border: none;
    border-bottom: 1px solid grey;
}

.admin-books{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.admin-books .admin-book{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}


.admin-books .admin-book img{
    height: 200px;
    width: min-content;
}

.admin-books .admin-book .btn{
    margin: 2px;
}

.container .card .bloc {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 5px;
}

.container .card .bloc label{
    margin-right: 5px;
}

.librairie{
    padding-bottom: 10px;
}

.librairie .title{
    color: #8c1c13;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.librairie .window{
    background-color: #fff;
    border-radius: 50px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.librairie .lasts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.librairie .lasts .container {
    z-index: 1;
    perspective:3000px;
    justify-content: space-around;
    height: 450px;
    width: 85%;
}

.librairie .window .lasts .title {
    margin-top: 5px;
}

.librairie .window .lasts .shelf {
    z-index: 0;
    margin-top: 500px;
    position: absolute;
    width: 85%;
}

.librairie .window .lasts .container .book {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.librairie .window .lasts .container .last img{
    height: 75%;
    width: fit-content;
}

.librairie .window .lasts .container .second img{
    height: 65%;
    width: fit-content;
}
.librairie .window .lasts .container .third img{
    height: 55%;
    width: fit-content;
}

.window  .title {
    margin-top: 75px;
}
  

.window .books {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
}

.window .books .book {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 13%;
    background-color: #F8F3ED;
    border-radius: 10px;
    margin: 2%;
    padding: 1%;
}

.window .books .book .cover {
    height: 200px;
}

.window .books .book .infos {
    text-align: center;
}
  
  
  

  

/* Responsive Home Page */
@media screen and (max-width: 768px) {

    .presentation{
        flex-direction: column;
    }
    .presentation .img{
        flex-direction: column;
        display: none;
    }
    .presentation .chezgaelle{
        width: 100%;
        position: relative;
    }
    .presentation .chezgaelle p, .presentation .chezgaelle h2{
        margin: 1rem;
    }
    .lastPictures .picture,
    .lastArticles .article {
        width: 90% !important;
        margin-bottom: 5%;
    }
    .photos button, 
    .articles button {
        width: 30%;
    }
}

@media screen and (max-width: 425px) {

    .presentation{
        flex-direction: column;
    }
    .presentation .img{
        flex-direction: column;
    }
    .presentation .chezgaelle{
        width: 100%;
    }
    .lastPictures .picture,
    .lastArticles .article {
        width: 90% !important;
    }
    
}

/* Responsive galeries photo - articles */
@media screen and (min-width: 425px) and (max-width: 768px) {

    .pictures .picture, 
    .galerie .articles .article {
        width: 45%;
    }
}

@media screen and (max-width: 425px) {
    .pictures .picture, 
    .galerie .articles .article 
    {
        width: 100%;
    }

    footer{
        flex-direction: column;
    }
}
